/ Main container.
#main(role="main")
  .index-wrapper(ng-controller="IndexCtrl")
    .container
      .row
        .span8
          %h1
            QuranVue
            %small Bismillahirrahmanirrahim
            %small {{greeting}}
        .span4
          .btn-group.btn-sort
            %a.btn.btn-primary.btn-small(ng-click="sort()" ng-class="{active: sort_attr == 'id'}")
              Sort by <b>order</b>
            %a.btn.btn-primary.btn-small(ng-click="sort()" ng-class="{active: sort_attr == 'tname'}")
              Sort by <b>name</b>

    .container
      .row
        .span12
          %nav.suras
            %ul
              %li(ng-repeat="sura in suras")
                %a.btn.btn-info(href="{{sura.permalink}}")
                  %strong {{sura.id}}
                  {{sura.tname}}
                  {{sura.name}}
