/*
Syntax error: Undefined variable: "$btnBackground".
        on line 12 of /Users/wan/dev/jscss/angular/qv-ng/app/css/partials/tweaks.scss

Backtrace:
/Users/wan/dev/jscss/angular/qv-ng/app/css/partials/tweaks.scss:12
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/script/variable.rb:49:in `_perform'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/script/node.rb:40:in `perform'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/script/funcall.rb:93:in `block in _perform'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/script/funcall.rb:93:in `map'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/script/funcall.rb:93:in `_perform'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/script/node.rb:40:in `perform'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:323:in `visit_variable'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:316:in `visit_rule'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/tree/root_node.rb:20:in `render'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/engine.rb:315:in `_render'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.1/lib/sass/engine.rb:262:in `render'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-compass-0.0.6/lib/guard/compass.rb:47:in `run_on_change'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:95:in `block in run_supervised_task'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:93:in `catch'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:93:in `run_supervised_task'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:142:in `block in run_first_task_found'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:140:in `each'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:140:in `run_first_task_found'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:75:in `block in run_on_changes'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:166:in `block (3 levels) in scoped_guards'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:165:in `each'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:165:in `block (2 levels) in scoped_guards'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:164:in `catch'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:164:in `block in scoped_guards'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:163:in `each'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:163:in `scoped_guards'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard/runner.rb:68:in `run_on_changes'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard.rb:111:in `block (2 levels) in setup_listener'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard.rb:324:in `block in within_preserved_state'
<internal:prelude>:10:in `synchronize'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard.rb:321:in `within_preserved_state'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/guard-1.4.0/lib/guard.rb:110:in `block in setup_listener'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.3/lib/listen/listener.rb:190:in `call'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.3/lib/listen/listener.rb:190:in `on_change'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.3/lib/listen/listener.rb:199:in `block in initialize_adapter'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.3/lib/listen/adapter.rb:196:in `call'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.3/lib/listen/adapter.rb:196:in `report_changes'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.3/lib/listen/adapter.rb:208:in `poll_changed_dirs'
/Users/wan/.rvm/gems/ruby-1.9.3-p194/gems/listen-0.5.3/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$btnBackground\".\A         on line 12 of /Users/wan/dev/jscss/angular/qv-ng/app/css/partials/tweaks.scss"; }
