@import "compass";

// =================================================================================================
// Tweaks
// =================================================================================================

@mixin button-glossy($height: 13px) {
  @include box-shadow(inset 0 $height 0 rgba(#fff, .1), inset 0 1px 0 rgba(#fff, .2), 0 1px 3px rgba(#000, .15));
}

.btn-gray {
  $bg: darken($btnBackground, 20%);
  $bgh: darken($btnBackgroundHighlight, 20%);
  @include buttonBackground($bg, $bgh, $grayDark, 0 1px 1px rgba(255,255,255,.75));
  border-color: transparent;
}

.btn { @include button-glossy; }
.btn-small { @include button-glossy(11px); }
.btn-medium { @include button-glossy(13px); }
.btn-large { @include button-glossy(17px); }

.btn-round { @include border-radius(50px); }
